@charset "utf-8";
/* CSS Document */

html {
	height: auto!important;
	width: 99%;
	!important
 }
 
body {
	width: 99%;
	margin: 0;
	top: 0!important;
	font-family: 'Segoe UI', Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #eee;
	min-width: 300px;
	background-color: #fff
 }
div#container {
	min-width: 200px;
	height: auto;
	margin: 5px;
	padding: 10px
 }
 
/*.input-control.radio {margin: 2px!important}*/
.input-control.checkbox{margin-right:10px;}
div#header {
	height: auto;
	position: fixed;
	width: 99%;
	top: 0;
	left: 5px;
	min-width: 300px
 }
 
div#footer {
	position: fixed;
	bottom: 5px;
	left: 0;
	width: 100%;
	overflow: hidden
 }
 
#pagetitle {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	white-space: nowrap
 }
 
canvas.input-time {display: none}
 
canvas {-ms-touch-action: none}
 
button.input-time {width: 150px}
 
div.graph {margin: 10px}

a.button, button{
	margin-top:5px!important;
}

#page-buttons {
	z-index: 10;
	position: fixed;
	right: 5px;
	top: 5px
 }
 
#cat-buttons {
	position: fixed;
	right: 10%;
	top: 50px
 }
 
div#contentpage {
	margin-top: 70px;
	padding: 5px;
	min-height: 70px;
	width: 100%
 }
 
div.cat {
	min-width: 100px;
	min-height: 50px;
	float: left;
	padding: 10px;
	padding-left: 20px;
	border: 1px solid black;
	overflow-y: scroll;
	overflow-x: hidden;
	overflow-style: auto;
	margin: 5px
 }
 
div.subcat {margin: 10px}
 
div.setting {
	border: 1px black #999;
	padding: 5px 10px;
	margin: 5px 0;
	width: auto
 }
 
div#footer {
	clear: both;
	margin: 5px 5px 0 5px;
	padding: 5px 5px 0 5px
 }
 
#color-swatches {
	margin: 5px;
	float: left;
	padding-left: 20px
 }
 
.cs {
	width: 10px;
	height: 10px;
	float: left;
	cursor: crosshair
 }
 
label.switch {margin-left: 0;	margin-top: 5px}
 
.back-button {
	float: left;
	margin-top: 9px;
	margin-right: 20px;
	color: black!important
 }
 
.linksPanel {list-style-type: none!important}
 
label.radio>span.helper {display: inline-block;	min-width: 600px}
 
.small-button {width: 40px!important;	min-width: 0!important}
 
@media all and (max-width:800px) {

.catlinktxt {display: none}
 }
@media all and (max-width:500px) {
/*.setlinktxt*/
 
.pag-button {width: 40px!important;	min-width: 0!important}
 
#footer {display: none}
 
.paglinktxt {display: none}
 
#cat-buttons {display: none!important}

canvas {margin-left: -30px}
 }
 
div#block3left {
	float: left;
	min-width: 185px;
	width: 20%;
	margin: 5px;
	margin-left: 1%
 }
 
div#block3center {
	min-width: 150px;
	float: left;
	width: 50%;
	margin: 5px
 }
 
div#block3right {
	min-width: 200px;
	float: left;
	width: 20%;
	margin: 5px
 }
 /*
.metro .input-control.checkbox input[type=checkbox]:checked~.check:after, .metro .input-control.checkbox input[type=radio]:checked~.check:after, .metro .input-control.radio input[type=checkbox]:checked~.check:after, .metro .input-control.radio input[type=radio]:checked~.check:after {
	content: "e003";
	margin: 5px;
	top: 0;
	color: #1d1d1d
 }*/
 
input[type=range]::-ms-track {
	width: 300px;
	height: 16px;
	background: #ddd;
	border: none;
	color: transparent; /* remove default tick marks */
 }
 
input[type=range]::-ms-thumb {
	border: none;
	height: 16px;
	width: 16px;
	background: black;
 }
input[type=range].colorR::-ms-fill-lower{background-color:red}
input[type=range].colorG::-ms-fill-lower{background-color:green}
input[type=range].colorB::-ms-fill-lower{background-color:blue}
i{
	border:none;
	text-decoration:none!important;
}
